page-tabs {

}

.dollarSign {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/imgs/dollar-sign.png');
}

.forRent {
  background-image: url('../../assets/imgs/for-rent.png');
}
